@media (max-width:700px) {
		
	/* Phone Styles */
	.logo {
	 left: 10px;
	 position: absolute;
	 top: -15px !important;
	}
	.layout-cell {
	 display: inline-block ;
	 float: none !important;
	 left: 1px !important;
	 min-height: 1px !important;
	 min-width: 1px !important;
	 width: 100% !important;
	}
	 .layout-cell div {
	 margin-left: 0 !important;
	 margin-right: 0 !important;
	}
	.layout-cell .captcha {
	 margin-left: auto !important;
	 margin-right: auto !important;
	}
	.modalFiltros {
	 background-color: #E1EAF2;
	 border: 5px solid rgba(0, 0, 0, 0.5);
	 border-radius: 10px 10px 10px 10px;
	 display: none;
	 position: absolute;
	 right: 8%;
	 text-align: left;
	 top: 18%;
	 width: 350px;
	}
	.captcha {
	 display: block;
	 height: auto;
	 margin: 0 auto;
	 min-height: 241px;
	 width: 286px;
	}
	.layout-cell .control-bar-wrapper {
	 overflow: visible;
	}
	
	.moldal-resultados .layout-cell {
	 display: inline-block ;
	 float: none !important;
	 left: 1px !important;
	 min-height: 1px !important;
	 min-width: 1px !important;
	}
	.cert_coord {
	 display: block;
	}
	.list_num {
	 margin-left: 20px !important;
	}
	#ordenaCitacao {
	 margin-left: 1px !important;
	}
	ul.IndicProdTabela {
	 line-height: 2em;
	 list-style: decimal outside none;
	 margin-left: 24px !important;
	}
	.max-width {
	 max-width: 90% !important;
	}
	.min-width {
	 min-width: 400px !important;
	}
	.logo a {
	 background-attachment: scroll;
	 background-clip: border-box;
	 background-color: transparent;
	 background-origin: padding-box;
	 background-position: 0 0;
	 background-repeat: no-repeat;
	 background-size: 100% auto !important;
	 display: block !important;
	 height: 40px !important;
	 margin-top: 46px !important;
	 width: 80px !important;
	}
	.header {
	 background-color: white;
	 border-bottom: 2px solid #01629B;
	 height: 96px;
	}
	h2 {
	 color: #337999;
	 font-size: 14px;
	 font-weight: 700;
	 padding-top: 6px;
	}
	.menuScroll {
		display: table  !important;
	}
	.tituloFlow {
    font-size: 12px !important;
    font-weight: bold !important;
	}
	.identity {
	 background-image: url("../images/v2/identity-bkg_topleft.png");
	 background-position: left top;
	 background-repeat: no-repeat;
	 background-size: 60px auto;
	 height: 66px;
	 width: 188px;
	}
	.identity .combo {
	 background-image: url("../images/v2/identity-bkg_topright.png");
	 background-position: right top;
	 background-repeat: no-repeat;
	 background-size: 60px auto;
	 display: block;
	 height: 58px;
	 width: 196px;
	}
	.identity .combo a {
	 background-image: url("../images/v2/identity-bkg_topcenter.png");
	 background-position: center top;
	 background-repeat: repeat-x;
	 background-size: 1px auto;
	 color: #1C6AA7;
	 display: block;
	 font-style: italic;
	 height: 23px;
	 line-height: 17px;
	 margin: 0 auto;
	 padding-top: 13px;
	 text-align: center;
	 text-shadow: 2px 1px 1px #FFFFFF, 2px 1px 1px #FFFFFF;
	 width: 85px;
	}
	.identity .combo img {
	    margin-left: -11px !important;
	    margin-top: -5px !important;
	    width: 104px !important;
	}
	 .megamenu .column {
	 float: none !important;
	 margin-right: 5px;
	 width: 250px;
	}
	.moldal-interna {
	 width: 90% !important;
	}
	.resultado li {
	 border-bottom: 1px solid #CCCCCC;
	 color: #666666;
	 font-size: 12px;
	 margin-left: 24px;
	 padding-top: 11px;
	}
	
	.menu-header {
	margin-top: 21px;
	}
	.menuScroll {
	display: table !important;
	margin-top: 21px !important;
	}
	
	.layout-cell.layout-cell-12. topGraficos {
    	padding-top: 98px  !important;
	}	
	
	
}
 @media (max-width:1000px) {
	.menucent {
	 margin: 0 auto !important;
	 padding-bottom: 10px !important;
	 padding-left: 0px !important;
	 padding-top: 5px !important;
	 width: 100% !important;
	}
	.menuCtl {
	 background: none repeat scroll 0 0 #3568A7 !important;
	 font-family: Tahoma, Geneva, sans-serif;
	 font-size: 11px;
	 margin: 0 auto;
	 padding-left: 0;
	 padding-right: 0;
	 width: 100%;
	}
}

@media (max-width:1025px) {
	
	#menu-producoes {
		left: 0 !important;
		margin: 0 auto;
		position: absolute;
		width: 200px;
	}
	
	.megamenu .column:nth-child(1)  {
		margin-right: 5px;
		width: 200px;
	}
	
}